body {
    background-color: rgb(192, 167, 216);
}
.container {
    width: 1100px;
    
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
    
    gap: 10px;
    
  }
.cardo {
    height: 330px;
    width: 300px;
}
.card-one {
    
    gap: 20px;
    transition: transform 1s linear; 
}
.card-one:hover {
    transform: scale(75%) 
}
.cardt {
    height: 330px;
    width: 300px; 
}
.card-two {
    
    gap: 20px;
    transition: transform 1s linear;
}
.card-two:hover {
    transform: scale(75%)
}
.cardth {
    height: 330px;
    width: 300px;
}
.card-three {
    
        gap: 10px;
        transition: transform 1s linear; 
    }
 .card-three:hover {
        transform: scale(75%)
    }
    .cardf {
        height: 330px;
    width: 300px;
    }
     .card-four {
        
            gap: 20px;
            transition: transform 1s linear;  
        }
     .card-four:hover {
            transform: scale(75%)
        }
    .cardfi {
        height: 330px;
    width: 300px;
    }
     .card-five {
            
            gap: 20px;
           transition: transform 1s linear;
                }
        .card-five:hover {
                    transform: scale(75%)
                }
                .cards {
                    height: 330px;
    width: 300px;
                }
            .card-six {
                
                 gap: 20px;
                 transition: transform 1s linear;   
                        }
                 .card-six:hover {
                            transform: scale(75%)
                        }
                            