body {
    background-color: rgb(192, 167, 216);
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    gap: 20px;
    max-width: 1300px;
  }

.card-one {
    width: 100%;
    
    gap: 20px;
    transition: transform 1s linear; 
}
.card-one:hover {
    transform: scale(75%) 
}
.card-two {
    width: 100%;
    gap: 20px;
    transition: transform 1s linear;
}
.card-two:hover {
    transform: scale(75%)
}
.card-three {
    height: 300px;
        gap: 10px;
        transition: transform 1s linear; 
    }
 .card-three:hover {
        transform: scale(75%)
    }
     .card-four {
        height: 300px;
            gap: 20px;
            transition: transform 1s linear;  
        }
     .card-four:hover {
            transform: scale(75%)
        }
    
     .card-five {
            height: 300px;
            gap: 20px;
           transition: transform 1s linear;
                }
        .card-five:hover {
                    transform: scale(75%)
                }
            .card-six {
                height: 300px;
                 gap: 20px;
                 transition: transform 1s linear;   
                        }
                 .card-six:hover {
                            transform: scale(75%)
                        }
                            